<?xml version="1.0" encoding="utf-8"?>
<!--
This file is used by the publish/package process of your Web project. You can customize the behavior of this process
by editing this MSBuild file. In order to learn more about this please visit https://go.microsoft.com/fwlink/?LinkID=208121. 
-->
<Project ToolsVersion="4.0" xmlns="http://schemas.microsoft.com/developer/msbuild/2003">
  <PropertyGroup>
    <WebPublishMethod>Package</WebPublishMethod>
    <LastUsedBuildConfiguration>Release</LastUsedBuildConfiguration>
    <LastUsedPlatform>Any CPU</LastUsedPlatform>
    <SiteUrlToLaunchAfterPublish />
    <LaunchSiteAfterPublish>True</LaunchSiteAfterPublish>
    <ExcludeApp_Data>True</ExcludeApp_Data>
    <DesktopBuildPackageLocation>D:\Workspace\Project\eSTS\Source Code\eSTSDeploy\eSTS.zip</DesktopBuildPackageLocation>
    <PackageAsSingleFile>true</PackageAsSingleFile>
    <DeployIisAppPath>eSTS</DeployIisAppPath>
    <PublishDatabaseSettings>
      <Objects xmlns="">
        <ObjectGroup Name="eSTS_DevEntities" Order="1" Enabled="False">
          <Destination Path="Data Source=AQRSB-NB-014\SQL2008;Initial Catalog=eSTS_Dev;User ID=sa;Password=qwerty" />
          <Object Type="DbCodeFirst">
            <Source Path="DBContext" DbContext="eSTS.Database.eSTS_DevEntities, eSTS" Origin="Configuration" />
          </Object>
        </ObjectGroup>
        <ObjectGroup Name="ConnectionString" Order="2" Enabled="False">
          <Destination Path="Data Source=AQRSB-NB-014\SQL2008;Initial Catalog=eSTS_Dev;User ID=sa;Password=qwerty" />
          <Object Type="DbDacFx">
            <PreSource Path="Data Source=AQRSB-NB-014\SQL2008;Initial Catalog=eSTS_Dev;Persist Security Info=True;User ID=sa;Password=qwerty" includeData="False" />
            <Source Path="$(IntermediateOutputPath)AutoScripts\ConnectionString_IncrementalSchemaOnly.dacpac" dacpacAction="Deploy" />
          </Object>
          <UpdateFrom Type="Web.Config">
            <Source MatchValue="Data Source=AQRSB-NB-014\SQL2008;Initial Catalog=eSTS_Dev;Persist Security Info=True;User ID=sa;Password=qwerty" MatchAttributes="$(UpdateFromConnectionStringAttributes)" />
          </UpdateFrom>
        </ObjectGroup>
      </Objects>
    </PublishDatabaseSettings>
    <PrecompileBeforePublish>True</PrecompileBeforePublish>
    <EnableUpdateable>True</EnableUpdateable>
    <DebugSymbols>False</DebugSymbols>
    <WDPMergeOption>DonotMerge</WDPMergeOption>
  </PropertyGroup>
  <ItemGroup>
    <MSDeployParameterValue Include="ConnectionString-Web.config Connection String">
      <ParameterValue>Data Source=AQRSB-NB-014\SQL2008;Initial Catalog=eSTS_Dev;User ID=sa;Password=qwerty</ParameterValue>
    </MSDeployParameterValue>
    <MSDeployParameterValue Include="eSTS_DevEntities-Web.config Connection String">
      <UpdateDestWebConfig>False</UpdateDestWebConfig>
      <ParameterValue>metadata=res://*/Database.eSTS.csdl|res://*/Database.eSTS.ssdl|res://*/Database.eSTS.msl;provider=System.Data.SqlClient;provider connection string="Data Source=AQRSB-NB-014\SQL2008;Initial Catalog=eSTS_Dev;User ID=sa;Password=qwerty"</ParameterValue>
    </MSDeployParameterValue>
  </ItemGroup>
</Project>